<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TotO - Tamers of the Otherworld</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
	
	<script src="lib/jquery-2.1.1.js" text="type/javascript"></script>
	<!--<script src="lib/jquery-ui.min.js" text="type/javascript"></script>-->
	<script src="lib/fastclick.js" text="type/javascript"></script>
	<script src="lib/interact.js" text="type/javascript"></script>
	<!--<script src="lib/bootstrap/js/bootstrap.js" text="type/javascript"></script>-->
	<!--<script src="lib/object-editor-master/object-editor.js" text="type/javascript"></script>-->

	<!--<script src="lib/savefile.js" text="type/javascript"></script>-->
	<!--<script src="lib/drag-and-drop-inventory/inventory.js" text="type/javascript"></script>-->

	<script src="compiled.js" text="type/javascript"></script>

	<!--<link  href="lib/jquery-ui.css" rel="stylesheet">-->
	<link  href="lib/bootstrap/css/bootstrap-theme.slate.css" rel="stylesheet">
	<link  href="lib/bootstrap/css/bootstrap.override.css" rel="stylesheet">
	<link  href="lib/drag-and-drop-inventory/drag-styles.css" rel="stylesheet">
	<link  href="lib/object-editor-master/object-editor.css" rel="stylesheet">
	<link  href="lib/SupportlikDnD/main.css" rel="stylesheet">
	<link  href="lib/angular-tooltips/angular-tooltips.css" rel="stylesheet">

	<link  href="css/styles.css" rel="stylesheet">
	<link  href="lib/chat-box/chat-box.css" rel="stylesheet">
	<link  href="css/tooltips.css" rel="stylesheet">

	<script text="type/javascript">

window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);

	</script>

</head>
<body ng-controller="MainCtrl" class="container-fluid" style="max-height: 100vh;">

<div class="row row-margin">
	<div class="col-md-3">
		<a href="http://www.reddit.com/r/polatrite" style="text-decoration: underline;">Subreddit</a> | <a href="http://www.reddit.com/r/incremental_games" style="text-decoration: underline;">Incremental Games</a> | <a href="http://www.github.com/Polatrite/polainc-seed" style="text-decoration: underline;">Source</a>
		<br>
		
	</div>
	<div class="col-md-5">
	    <h3>
	        TotO - Super Closed Alpha
	    </h3>
	    <h4 ng-show="loggedIn">Logged in as: {{ player.username }}</h4>
	</div>
	
	<button type="button" class="btn btn-default" ng-hide="loggedIn" ng-click="openLoginModal()">Login</button>
	<button type="button" class="btn btn-default" ng-click="clickDebug1()">Debug 1</button>
	<button type="button" class="btn btn-default" ng-click="clickDebug2()">Debug 2</button>
	<button type="button" class="btn btn-default" ng-click="clickDebug3()">Debug 3</button>
</div>

<div class="row row-margin">
    <!-- INVENTORY, SKILLS, CURRENCY -->
	<div class="col-md-3">
	    <h2>Inventory</h2>

		<div>
		    <ng-inventory inventory="inventory" rows="5" columns="8"></ng-inventory>
			<button type="button" class="btn btn-default" ng-click="craft()" tooltip tooltip-html="tooltipFunc()" tooltip-placement="right">Craft</button>
		</div>
	</div>

	<!-- MINIONS -->
	<div class="col-md-3">
		<div class="row">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		    <h2 tooltip tooltip-html="tooltipFunc()">Minions</h2>
		    
			<div class="col-md-12" ng-repeat="minion in player.minions">
				<h2>{{ minion.name }}</h2>
				<img ng-src="{{minion.image}}" style="width: 155px; height: 116px;" class="img-responsive minion-icon"/>
				<div class="health-bar">
				    <div class="health-bar-filler"></div>
				</div>
				<p>{{ minion.description }}</p>
				
			    <ng-inventory inventory="minion.equipment.weapon" rows="1" columns="1"></ng-inventory>
			    <ng-inventory inventory="minion.equipment.trinket" rows="1" columns="1"></ng-inventory>
			    <ng-inventory inventory="minion.equipment.amulet" rows="1" columns="1"></ng-inventory>

				<hr>
			</div>
		</div>
	</div>
	
	<!-- MAPS, ADVENTURES -->
	<div class="col-md-3">
	    <h2>Maps</h2>
	    <div class="chat-box" ng-controller="ChatCtrl">
		    <input type="checkbox" />
		    <label data-expanded="({{ messages.length }}) Close Chatbox" data-collapsed="({{ messages.length }}) Open Chatbox"></label>
		    <div class="chat-box-content">
		        <div class="conversation">
		            <ul>
		            	<li ng-repeat="message in messages track by $index" id="post-{{ ::$index }}" scroll-to-last="post-{{ ::$index }}">{{message}}</li>
		            </ul>
		        </div>
		        <form ng-submit="sendMessage();">
			        <input type="text" ng-model="messageText" placeholder="Enter Message" />
		        </form>
		    </div>
		</div>
	</div>
</div>

<div class="row">
	
	<div class="col-md-3" ng-repeat="obj in debugObjects">
		<h1>Debugging {{obj.name}} {{obj.length}}</h1>
		<object-editor object='obj'></object-editor>
	</div>
</div>

</body>
</html>
